<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>APS ID</th>
            <th>Email</th>
            <th>Worksite</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody> 
    {% for position in Positions %}
        <tr style="text-align: center">
            <td>{{position.educator.firstName}} </td> 
            <td>{{position.educator.lastName}} </td>
            <td>{{position.educator.id}} </td>
            <td>{{position.educator.email}} </td>
            <td>{{position.worksite}} </td>
            <td>{{position.title}} </td>
            <td>{{position.category}} </td>
        </tr>
        {% endfor %}
    </tbody>

  </table>
 
 
 
 
 
 
 


