
{% load bootstrap %}

<style>
    table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #e9f5f5;
}
    </style>
<div class="form-control">
    <form method="GET" style="text-align: center">
        {{filter.form|bootstrap}}
        <div style = "text-align: center">
            <button type="submit" class = "btn btn-primary" style="text-align: center">submit</button>
        </div>
    </form>
</div>

<table>
    <thead style = "background-color: #96D4D4">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>APS ID</th>
            <th>Email</th>
            <th>Worksite</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
    </thead>

    {%for educator in filter.qs%}
    <tbody> 
        <tr style="text-align: center">
            <td>{{educator.firstName}} </td> 
            <td>{{educator.lastName}} </td>
            <td>{{educator.id}} </td>
            <td>{{educator.email}}</td>

            <td> {% for position in educator.position_set.all %} {{position.worksite}} <br> {% endfor %}</td>
            <td> {% for position in educator.position_set.all %}  {{position.title}} <br> {% endfor %}</td>
            <td> {% for position in educator.position_set.all %} {{position.category}} <br> {% endfor %}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

